.login-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
}

.login-form label {
    display: block;
    margin: 30px auto;
}

.login-form span {
    display: block;
    margin-bottom: 6px;
}

.login-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #555;
    width: 100%;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
}

.btn:hover {
    cursor: pointer;
    filter: invert(10%);
}

.login-form.dark {
    color: white;
    background-color: #555;
}

.signup a {
    text-decoration: none;
    font-weight: 600;
}